.form {
  padding: 3vw;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  background: transparent;
}

.form input {
  background: rgb(140, 172, 140) 50%;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  margin: 1vw;
  border: none;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: rgb(117, 117, 117);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
}

.button-1 {
  background-color: #9c81ce;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;

  cursor: pointer;

  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 10px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: Georgia, serif;
}

.button-1:hover,
.button-1:focus {
  background-color: #722271;
}
